<%- include("partials/head.ejs") %>
<%- include("partials/nav.ejs") %>

<main>
    <h1> <%= about %> </h1>

    <form id="altProducts-form" class="products-form">
        <label for="nombreProd">Nombre</label>
        <input type="text" name="nombre" id="nombreProd" required>
        
        <label for="precioProd">Precio</label>
        <input type="number" name="precio" id="precioProd" required>
        
        <label for="categoriaProd">Categoria</label>
        <select name="categoria" id="categoriaProd" required>
            <option value="CELULAR">Celular</option>
            <option value="NOTEBOOK">Notebook</option>
        </select>
        
        <label>Imagen del Producto</label>

        <label id="dropArea" class="drop-zone">
            <p class="drop-text">Arrastra la imagen aquí o <span>explora</span></p>
            <input type="file" id="fileInput" name="imagen" accept="image/*">
        </label>

        <div id="previewContainer" style="display:none; margin-top:10px;">
            <p id="fileName">Archivo seleccionado</p>
            <img id="imgPreview" src="" style="max-width: 150px; border-radius: 5px;">
        </div>
        
        <input type="submit" value="Crear Producto">
    </form>
    <hr>
    <div id="contenedor-productos"></div>
</main>
<script src="js/crear.js"></script>

<%- include("partials/footer.ejs") %>