<%- include("partials/head.ejs") %>
<%- include("partials/nav.ejs") %>

<main>
    <h1>Lista de productos</h1>
    <hr>
    <div id="contenedor-productos"></div>
</main>
<script src="js/index.js"></script>

<%- include("partials/footer.ejs") %>