<%- include("partials/head.ejs") %>

<main>

        <h1> <%= about %> </h1>

        <% if (typeof error !== "undefined") { %>
            <div class="error-message">
                <%= error %>
            </div>
        <% } %>

        <form id="login-form" action="/auth/login" method="POST" autocomplete="off">

            <label for="emailUser">Correo</label>
            <input type="email" name="correo" id="emailUser" required>

            <label for="passwordUser">Contraseña</label>
            <input type="password" name="contrasenia" id="passwordUser" required>

            <input type="submit" class="input-button input-submit btn-login" value="Ingresar">
            <input type="button" id="acceso" class="input-button btn-login" value="Acceso rápido">
        </form>

</main>


<script>
    let emailUser = document.getElementById("emailUser");
    let passwordUser = document.getElementById("passwordUser");

    let acceso_rapido = document.getElementById("acceso");
    acceso_rapido.addEventListener("click", () => {
        emailUser.value = "admin@tecnostore.com";
        passwordUser.value = "12345678";
    });
</script>


<%- include("partials/footer.ejs") %>