/*================
    General
================*/
body {
    background-color: rgb(81, 81, 112);
}
header {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav {
    width: 75%;
}

ul {
    padding-left: 0;
    margin-bottom: 0;
}

li {
    list-style-type: none;
}


/*================
    Encabezado
================*/
nav ul {
    display: flex;
    justify-content: space-between;
}


/*================
    main
================*/
#contenedor-productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card-producto {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid;
    width: 175px;
    height: 200px;
    margin: 5px;
    font-size: 12px;
    text-align: center;
    justify-content: space-evenly;
}

#contenedor-productos h5, #contenedor-productos p {
    margin: 0;
}

.card-producto img {
    width: 65px;
}


#listado-productos {
    width: 100%;
    display: flex;
    font-size: 14px;
    justify-content: space-between;
}

.li-listados {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;
}

.li-listados img {
    width: 65px;
}

.li-listados p, .li-listados img {
    margin-bottom: 0;
}

.li-botonera {
    display: flex;
    align-items: center;
    font-size: 12px;
}

.products-form {
    width: 45%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#getProducts-form {
    height: 110px;
    width: 35%;
}

.mensaje-error strong {
    color: #ae4f4e;
}

.mensaje-error {
    color: #a94442;
    background-color: #f2dede;
    border: 2px solid #ebccd1;
    padding: 10px 30px;
    border-radius: 4px;
    font-size: 16px;
}

/*================
    Imagenes
================*/
.drop-zone {
        display: block;
        background-color: #ffffff;
        border: 2px dashed #94a3b8;
        border-radius: 1rem;
        padding: 2rem;
        text-align: center;
        transition: all 0.3s ease;
        cursor: pointer;
        margin-top: 10px;
    }
    .drop-zone:hover, .drop-zone.dragover {
        border-color: #2563eb;
        background-color: #f6fbff;
    }
    .drop-text span {
        color: #2563eb;
        text-decoration: underline;
        font-weight: bold;
    }
    /* Ocultamos el input real para usar el estilo personalizado */
    #fileInput {
        display: none; 
    }